@import url(_var.css);


* {
    margin: 0;
    padding: 0;
}

header .navbar {
    text-transform: uppercase;
    font-family: var(--font_monterrat);
}

header .navbar .navbar-brand {
    font-size: 30px;
}

header .navbar .navbar-nav .nav-item a {
    color: var(--textcolor);
    margin-right: 2rem;
    letter-spacing: 3px;
}

header .navbar .navbar-nav .nav-item a:hover {
    color: var(--hovercolor);
    border-bottom: 1px solid var(--hovercolor);
}

.dropdown-item:active {
    background-color: var(--light);
}

header .navbar .signiu {
    letter-spacing: 3px;
    padding: 8px;
    color: var(--textcolor);
}

header .navbar .signiu:hover {
    text-decoration: none;
    color: var(--hovercolor);
    border-bottom: 1px solid var(--hovercolor);
}

