<% include layout/head %>
<div class="time">00:05:01</div>
<div class="time">01:01:01</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="../javascripts/phone.js"></script>