<!DOCTYPE html>
<html>

<head>
  <% include layout/head %>
</head>

<body>
  <!-- navbar -->
  <% include layout/navbar %>

  <!-- sale -->
  <div class="header-info">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <div class="header-item">
                      <img src="images/shiptruck.png" alt="">
                      <p>Free shipping on orders over $1000 in VN</p>
                  </div>
              </div>
              <div class="col-md-4 text-left text-lg-center">
                  <div class="header-item">
                      <img src="images/goldmedal.png" alt="">
                      <p>20% Golden Member Discount</p>
                  </div>
              </div>
              <div class="col-md-4 text-left text-xl-right">
                  <div class="header-item">
                  <img src="images/sale.png" alt="">
                  <p>30% off on Vertu brand. Use code: 30OFF</p>
              </div>
              </div>
          </div>
      </div>
  </div>
  <!-- notice -->
  <div class="container">
    <div class="notice-item mt-4">
      
    </div>
  </div>
  <!-- banner -->
  <div class="container">
    <% include layout/card_bid%>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt illum aliquid incidunt reprehenderit cum
    consequuntur, fugit ullam consequatur non dolorum voluptatum, rem veritatis iste quam maxime vel alias ab ex.
    Exercitationem, minus non in voluptates, amet porro accusantium ex cupiditate blanditiis assumenda, rerum quo
    excepturi veniam repellat sit quidem? Sint fugit a neque necessitatibus dignissimos, quos eius quisquam facere unde?
    Odio, laborum, illo amet impedit esse quo perferendis assumenda vitae ducimus veniam qui, voluptates similique?
    Ratione reiciendis explicabo rem, amet inventore cumque dolores repudiandae doloribus eligendi fugit, debitis
    corporis! Iure.
    Amet vel magnam quis consequuntur soluta provident, quod aliquid quam eos, recusandae similique dignissimos
    accusantium dicta ab incidunt corporis? Cumque illo earum explicabo iure quasi nulla labore aliquam possimus non?
    Quia beatae ex quam quaerat dolor aliquid consequuntur architecto natus, consectetur recusandae ipsum ipsam. Rem
    saepe quia enim alias exercitationem fugiat omnis repudiandae corporis expedita, molestiae pariatur praesentium
    consequatur? Explicabo?
    Blanditiis porro quasi at optio non esse assumenda fugiat doloribus maiores commodi laboriosam doloremque nostrum
    quaerat nulla dicta rerum est accusamus sapiente, ducimus, nisi, recusandae illum. Error asperiores temporibus quis?
    Similique tempora odio unde ab omnis repellat quidem sint. Perferendis magni exercitationem harum quia ipsa sit,
    quisquam, architecto mollitia vero nihil omnis totam ipsam, alias in minus deleniti distinctio error!
    Nihil odio ipsa eius aut! Esse quidem, fuga assumenda eligendi praesentium maxime harum perferendis facilis est
    error, molestias ipsum, atque deserunt. Reiciendis autem id at praesentium, atque illum alias rem!
    Ullam dolorem eligendi minima nesciunt voluptate nobis odio harum! Eius voluptatum, eaque numquam inventore sint, in
    minima vel adipisci quaerat corporis deleniti blanditiis autem aliquam a officiis non laudantium aspernatur.
    Iure amet reiciendis ipsam consequatur cumque, esse quibusdam odit laborum officia quo deleniti, necessitatibus
    dolore sint fugit rem dolor enim. Totam vel debitis eaque, nulla hic ea accusantium sunt fuga.
  </div>

  <!-- script -->
 
  <% include layout/b4_script %>
</body>

</html>