<!DOCTYPE html>
<html lang="en">

<head>
  <%include layout/head %>
  <link rel="stylesheet" href="/stylesheets/profile_style.css">
</head>

<body>
  <%include layout/navbar %>
  <h1 class="h1 mb-3">User Profile</h1>
  <div class="container-fluid">
    <div class="row extra_margin">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="text-center">
          <img
            src="https://images.unsplash.com/photo-1536164261511-3a17e671d380?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=630&q=80"
            class="img-rounded" />
          <h2>Đỗ Thành Đạt</h2>
          <p>
            <a class="btn btn-primary btn-xs" href="#" role="button">Facebook</a>
          </p>
        </div>
      </div>
      <div class="col-md-8 col-sm-* col-xs-*">
        <div class="row">
          <div class="col-sm-3">
            <p><b>Họ và Tên:</b></p>
          </div>
          <div class="col-sm-6">
            <p>Đỗ Thành Đạt</p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-3">
            <p><b>Địa chỉ Email:</b></p>
          </div>
          <div class="col-sm-6">
            <p>datdo7549@gmail.com</p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-3">
            <p><b>Số điện thoại:</b></p>
          </div>
          <div class="col-sm-6">
            <p>0123456789</p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-3">
            <p><b>Địa chỉ:</b></p>
          </div>
          <div class="col-sm-6">
            <p>Quận 5</p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-3">
            <p><b>Ngày sinh:</b></p>
          </div>
          <div class="col-sm-6">
            <p>03/06/1999</p>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</body>

</html>