<!DOCTYPE html>
<html lang="en">
<head>
    <%include layout/head %>
</head>
<body>
    <%include layout/navbar %>
    <h1 class="h1 mb-3">Sign in</h1>

    <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-6 col-md-auto login-box">

            <form>
              <div class="form-row">
                <div class="col-md-12">
                  <input type="text" name="username" class="form-control form-control-lg flat-input" placeholder="username">
                </div>
                <div class="col-md-12">
                  <input type="password" name="password" class="form-control form-control-lg flat-input" placeholder="password">
                </div>
                <button type="submit" class="btn btn-lg btn-block btn-login">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
</body>
</html>