
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font_bigshouder:'Big Shoulders Text', cursive;
    --font_monterrat: font-family: 'Montserrat', sans-serif;
    --hovercolor: rgba(237, 62, 62,0.9);
    --bgcolor:#fafafa;
    --textcolor:#212121;
}
.dropdown:hover .dropdown-menu{
    display: block;
}