@import url(_var.css);


*{
    margin: 0;
    padding: 0;
    font-family: var(--font_monterrat);
}
*,::after,::before{
    box-sizing: border-box;
}
/* header */
header .navbar {
    text-transform: uppercase;
    background-color: var(--bgcolor);
    font-family: var(--font_monterrat);
}

header .navbar .navbar-brand {
    font-size: 30px;
}

header .navbar .navbar-nav .nav-item a {
    color: var(--textcolor);
    margin-right: 2rem;
    letter-spacing: 1px;
}

header .navbar .navbar-nav .nav-item a:hover {
    color: var(--hovercolor);
    border-bottom: 1px solid var(--hovercolor);
}

.dropdown-item:active {
    background-color: var(--light);
}

header .navbar .signiu {
    letter-spacing: 3px;
    padding: 8px;
    color: var(--textcolor);
}

header .navbar .signiu:hover {
    text-decoration: none;
    color: var(--hovercolor);
    border-bottom: 1px solid var(--hovercolor);
}

/* card */
.carousel-item{
  padding-top: 30px;
  max-height: 400px;
}

.card {
    margin: 1rem 1rem 1rem 0;
    padding: 1rem 0;
    max-height: 400px;
    border: 1px solid var(--dark);
}
.card .card-body{
    padding: 0;
    overflow: hidden;
}
.card .card-img-top{
    object-fit: con;
    padding: 10px;
    max-height: 200px;
}
.card .card-title{
    text-transform: uppercase;
    font-weight: bold;
}
/* category  */
.cate-title{
    margin-top: 1rem;
    font-size: 2.5rem;
}
.mb-3{
    font-size: 75px;
    margin-top: 50px;
    text-align: center;
}


.login-box{
    margin-top: 30px;
	background: #fff;
	padding: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flat-input{
	margin-bottom: 50px;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #DD3247;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #DD3247 4%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #DD3247 4%);
	background-position: -500px 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.flat-input:focus{
	box-shadow: none;
	outline: none;
	background-position: 0 0;
	border-bottom: 0px;
}

.btn-login{
	border-radius: 0;
	background: #000;
	color: #fff;
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}

.btn-login:hover{
    background: rgb(170, 9, 9);
    color: violet;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-social:hover {
    color: #eee;
}

.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    padding: 7px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}