.mb-3{
    font-size: 75px;
    margin-top: 50px;
    text-align: center;
}


.login-box{
    margin-top: 30px;
	background: #fff;
	padding: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flat-input{
	margin-bottom: 50px;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #DD3247;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #DD3247 4%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #DD3247 4%);
	background-position: -500px 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.flat-input:focus{
	box-shadow: none;
	outline: none;
	background-position: 0 0;
	border-bottom: 0px;
}

.btn-login{
	border-radius: 0;
	background: #000;
	color: #fff;
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}

.btn-login:hover{
    background: rgb(170, 9, 9);
    color: violet;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-social:hover {
    color: #eee;
}

.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    padding: 7px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}