<% layout('/_layouts/main') -%>
<% block('stylesheets','<link rel="stylesheet" type="text/css" href="https://unpkg.com/file-upload-with-preview@4.0.2/dist/file-upload-with-preview.min.css">') -%>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <legend>Add</legend>
        </div>
    </div>
    <div class="col-md-8">
        <form action="/product/add" method="POST">
            <div class="custom-file-container" data-upload-id="myUniqueUploadId">
                <label>Upload File <a href="javascript:void(0)" class="custom-file-container__image-clear"
                        title="Clear Image">&times;</a></label>
                <label class="custom-file-container__custom-file">
                    <input type="file" class="custom-file-container__custom-file__custom-file-input" accept="*" multiple
                        aria-label="Choose File" name="image">
                    <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
                    <span class="custom-file-container__custom-file__custom-file-control"></span>
                </label>
                <div class="custom-file-container__image-preview"></div>
            </div>
            <div class="form-group">
                <label for="nameProduct">Name Product</label>
                <input type="text" name="name_product" id="name_product" class="form-control">
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <input type="text" name="id_type" id="id_type" class="form-control">
            </div>
            <div class="form-group">
                <label for="price_start">Starting Price</label>
                <input type="text" name="price_start" id="price_start" class="form-control">
            </div>
            <div class="form-group">
                <label for="price_expect">Expecting Price</label>
                <input type="text" name="price_expect" id="price_expect" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<script>
    var upload = new FileUploadWithPreview('myUniqueUploadId');
</script>