<div class='container-fluid'>
    <div class="row">
        <div class="col-md-5 mx-auto my-2 px-0 ">
            <div class="card col-12 border pt-0 hvr-float-shadow hvr-icon-pulse-grow ">
                <div class="shape">
                    <div class="shape-text">
                        Running Out
                    </div>

                </div>

                <img class='mx-auto img-thumbnail ' src="/uploads/1/1.jpg" width="auto" height="auto" />
                <i class="far fa-heart ml-auto fa-2x heart  hvr-icon"></i>
                <div class="card-body text-center mx-auto">
                    <div class='cvp'>
                        <h5 class="card-title font-weight-bold">Yail wrist watch</h5>
                        <p class="card-text text-uppercase ">$299</p> <a href="#" class="btn details px-auto">View
                            details</a><br /> <a href="#" class="btn cart px-auto">START BIDDING</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 mx-0">
            <div class="row">
                <div class="card ml-4 col-md-5 my-2 border hvr-float-shadow pt-0 hvr-icon-pulse-grow">
                    <div class="shape">
                        <div class="shape-text">
                            Running Out
                        </div>
                    </div>
                    <img class='mx-auto img-thumbnail' src="/uploads/1/1.jpg" width="auto" height="auto" />
                    <i class="far fa-heart ml-auto fa-2x heart  hvr-icon"></i>
                    <div class="card-body text-center mx-auto">
                        <div class='cvp'>
                            <h5 class="card-title font-weight-bold">Yail wrist watch</h5>
                            <p class="card-text">$299</p> <a href="#" class="btn details px-auto">view details</a><br />
                            <a href="#" class="btn cart px-auto">ADD TO CART</a>
                        </div>
                    </div>
                </div>
                <div class="card ml-4 col-md-5 my-2 border pt-0 hvr-float-shadow hvr-icon-pulse-grow">
                    <div class="shape">
                        <div class="shape-text">
                            Running Out
                        </div>
                    </div>
                    <img class='mx-auto img-thumbnail' src="/uploads/1/2.jpg" width="auto" height="auto" />
                    <i class="far fa-heart ml-auto fa-2x heart  hvr-icon"></i>
                    <div class="card-body text-center mx-auto">
                        <div class='cvp'>
                            <h5 class="card-title font-weight-bold">Yail wrist watch</h5>
                            <p class="card-text">$299</p> <a href="#" class="btn details px-auto">view details</a><br />
                            <a href="#" class="btn cart px-auto">ADD TO CART</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card ml-4 col-md-5 my-2 border pt-0 hvr-float-shadow hvr-icon-pulse-grow">
                    <div class="shape">
                        <div class="shape-text">
                            Running Out
                        </div>
                    </div>
                    <img class='mx-auto img-thumbnail' src="/uploads/1/3.jpg" width="auto" height="auto" />
                    <i class="far fa-heart ml-auto fa-2x heart  hvr-icon"></i>
                    <div class="card-body text-center mx-auto">
                        <div class='cvp'>
                            <h5 class="card-title font-weight-bold">Yail wrist watch</h5>
                            <p class="card-text">$299</p> <a href="#" class="btn details px-auto">view details</a><br />
                            <a href="#" class="btn cart px-auto">ADD TO CART</a>
                        </div>
                    </div>
                </div>
                <div class="card  ml-4 col-md-5 my-2 border pt-0 hvr-float-shadow hvr-icon-pulse-grow">
                    <div class="shape">
                        <div class="shape-text">
                            Running Out
                        </div>
                    </div>
                    <img class='mx-auto img-thumbnail' src="/uploads/1/4.jpg" width="auto" height="auto" />
                    <i class="far fa-heart ml-auto fa-2x heart  hvr-icon"></i>
                    <div class="card-body text-center mx-auto">
                        <div class='cvp'>
                            <h5 class="card-title font-weight-bold">Yail wrist watch</h5>
                            <p class="card-text">$299</p> <a href="#" class="btn details px-auto">view details</a><br />
                            <a href="#" class="btn cart px-auto">ADD TO CART</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>