<% layout('_layouts/main') -%>
<% block('stylesheets','<link rel="stylesheet" href="stylesheets/about.css" />') -%>
<div class="col-md-6 container about">
  <ul>
    <li><strong>Our website is your Special Platform where a wide variety of thoroughly selected products from best
        manufacturers only are offered at 80% off retail.</strong></li>
    <li><strong>Unique opportunity available to our customers - bid without registration and to register only after
        winning an Auction.</strong></li>
    <li><strong>Active interaction within selling process where any buyer will receive answer to his offered price
        with Best Offer option.</strong></li>
    <li><strong>Buy Now option offers any customer possibility to purchase items actively promoted at lowest prices
        available online.</strong></li>
  </ul>
  <em><strong>Be a happy winner on our website!</strong></em>
</div>
