<% layout('_layouts/main') -%>
<% block('stylesheets','<link rel="stylesheet" href="/stylesheets/contact.css" />') -%>

<div class="container contact-form">
	<h1>Contact us</h1>
	<hr>

	<div class="row">
   
       <div class="col-md-6">
       	<address>ĐH Khoa Học Tự Nhiên <p>227 Nguyễn Văn Cừ, Quận 5, TPHCM</p></address>
       	<p>Email:- khtn@hcmus.edu.vn</p>
       	<p>Phone:- 0000000000   </p>
       </div>

       <div class="col-md-6">
       	
         <div class="form-group">
         	<label>Name</label>
         	<input type="text" class="form-control">
         </div>

         <div class="form-group">
         	<label>Email</label>
         	<input type="text" class="form-control">
         </div>

         <div class="form-group">
         	<label>Massage</label>
         	<textarea  class="form-control" rows="7"></textarea>
         </div>

         <div class="form-group">
         	<button class="btn btn-primary btn-block">Send</button>
         </div>

       </div>

    </div>

</div>




</body>
</html>