<% layout('_layouts/main') -%>
<% block('stylesheets','<link rel="stylesheet" href="stylesheets/productview.css" />'
+'<link rel="stylesheet" href="stylesheets/fearture.css" />') -%>


<!-- banner -->
<div class="container" >
  <div class="row">
    <div class="col-md-4">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class="fas facat fa-bars"></i> Category</li>
        <li class="list-group-item"><i class="fas facus fa-laptop"></i>Electronics</li>
        <li class="list-group-item"><i class="fas facus fa-clock"></i>Watch</li>
        <li class="list-group-item"><i class="fas facus fa-sun"></i>Skin Care</li>
        <li class="list-group-item"><i class="fas facus fa-shoe-prints"></i>Shoes</li>
      </ul>
    </div>
    <div class="col-md-8">
      <%- include('../part_layout/banner') %>
    </div>
  </div>
</div>
<!-- notice -->
<div class="container">
  <!-- sản phẩm gần kết thúc -->
  <div class="endding-product mt-4">
    <div class="row">
      <div class="col">
        <div class="h3 text-uppercase font-weight-bold">Running out</div>
      </div>
    </div>
    <hr class="my-2">
    <% temp= time; cat = "Running Out";%>
    <%- include('../layout/product_view') %>
    
  </div>
  <!-- Có nhiều lượt ra giá nhất-->
  <div class="endding-product mt-4">
    <div class="row">
      <div class="col">
        <div class="h2">The Most Bidding</div>
      </div>
    </div>
    <% temp= time;cat = "Most Bidding";%>
    <% test = temp[0].dateUp;%>
    <%- include('../layout/product_view') %>
  </div>
  <!-- đắt nhất -->
  <div class="endding-product mt-4">
    <div class="row">
      <div class="col">
        <div class="h2">The Most Expensive Product</div>
      </div>
    </div>
    <% temp= price; cat = "Most Expensive";%>
    <%- include('../layout/product_view') %>
  </div>
  <!-- fearture -->
  <div class="fearture-dad mt-4 mb-2">
    <div class="row">
      <div class="col">
        <div class="h2">Fearture</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="fearture-item">
          <img src="images/phone.jpg" alt="phone" class="">
          <div class="overlay pt-15">
            <h2>Phone</h2>
            <p><a href="">Start bidding</a></p>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col">
            <div class="fearture-item ">
              <img src="images/laptop.jpg" alt="phone" class="">
              <div class="overlay pt-15">
                <h2>Laptop</h2>
                <p><a href="">Start bidding</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="fearture-item ">
              <img src="images/other.png" alt="other">
              <div class="overlay">
                <h2>More</h2>
                <p><a href="">Click here</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row mt-4">
      <div class="col-lg-12">
        <div class="fearture-item">
          <img src="images/desktop.jpg" alt="phone" class="">
          <div class="overlay pt-15">
            <h2>Desktop & PC</h2>
            <p><a href="">Start bidding</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% block('script','<script src="/javascripts/home.js"></script>') -%>
<!-- script-->
