<% layout('_layouts/main') -%>
<div class="container mt-4  ">
    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Collections</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="row mt-2">
        <div class="col-sm-12">
            <ul class="category-show list-unstyled d-flex ">
                <li class="category-item"><a href="/product" class="category-link active">All Products</a></li>
                <li class="category-item"><a href="?cat=1" class="category-link">Phone</a></li>
                <li class="category-item"><a href="?cat=2" class="category-link">Laptop</a></li>
                <li class="category-item"><a href="?cat=3" class="category-link">Desktop</a></li>
                <li class="category-item"><a href="?cat=4" class="category-link">Other</a></li>
                <li class="category-item ml-auto">
                    <div class="store-filter clearfix">
                        <div class="store-sort">
                            <label>
                                Sort By:
                                <select class="input-select " id="mySelect" onchange="selectedSort()">
                                    <option value="" style = "display:none" disabled selected>Sắp theo</option>
                                    <option value="endDate">Sắp hết</option>
                                    <option value="priceASC">Giá tăng</option>
                                    <option value="priceDESC">Giá giảm</option>
                                </select>
                            </label>
                        </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <% temp=all ; page = page_numbers%>
    <%- include ../layout/product_view2 %>

    
<% block('script','<script src="/javascripts/home.js"></script>') -%>
<% block('stylesheets','<link rel="stylesheet" href="/stylesheets/category.css" />' + '<link rel="stylesheet" href="/stylesheets/productview.css" />') -%>
