<% layout('_layouts/main') -%>

<% block('stylesheets','<link rel="stylesheet" href="stylesheets/signin.css">') -%>
<% block('script','<script src="javascripts/sign_up.js"></script>') -%>
<h1 class="h1 mb-3">Sign up</h1>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6 col-md-auto login-box">
      <div class="col-md-12">
        <%- include('../part_layout/message') %>
      </div>
      <form  method="POST" action="/signup">
        <div class="form-row">
          
          <div class="col-md-12">
            <input type="email" name="email" id="email" class="form-control form-control-lg flat-input"
              placeholder="Email" required>
          </div>
          <div class="col-md-12">
            <input type="password" name="password" id="password" class="form-control form-control-lg flat-input"
              placeholder="Type password" pattern="[A-Za-z][A-Za-z0-9]*[0-9][A-Za-z0-9]*"
              title="The password must begin with a letter and contain at least one digit" required>
          </div>
          <div class="col-md-12">
            <input type="number" name="user_phone" class="form-control form-control-lg flat-input"
              placeholder="Number phone">
          </div>
          <div class="col-md-12">
            <input type="text" name="user_name" class="form-control form-control-lg flat-input"
              placeholder="Your name">
          </div>
          

          <!-- <div class="col-md-12">
            <input type="password" name="password" id="valid_password"
              class="form-control form-control-lg flat-input" placeholder="Type password again">
          </div> -->
          <button type="submit" class="btn btn-lg btn-block btn-login">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
