<div id="carousel" class="carousel slide carousel-fade " data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>

    <!-- The slideshow -->
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="view">
                <img class="d-block w-100" src="images/bid_banner.jpg" alt="First slide">
            </div>
            <div class="carousel-caption">
                <div class="h1">Welcome to Auction</div>
                <div class="h4 pb-4 mb-4">Let choose something you want to have, because it's limited</div>
                <a href="#" class="learnmore ">Learn More</a>
            </div>
        </div>
        <div class="carousel-item ">
            <div class="view">
                <img class="d-block w-100" src="images/bid_banner.jpg" alt="Second slide">
            </div>
        </div>
        <div class="carousel-item ">
            <div class="view">
                <img class="d-block w-100" src="images/bid_banner2.jpg" alt="Third slide">
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>