<header class="bd-navbar">
    <div class="container-full-fluid">
        <div class=" logo text-center " id=" logo">
            <a href="index" class="logo-title">bidding</a>
            <div class="detail">
                <a href="index" class="logo-detail">the best choise for you</a>
            </div>

        </div>
        <div class="container-full-fluid bg-white shadow-sm nav">
            <div class="container" id="navv">
                <nav class="navbar navbar-expand-lg navbar-light bg-white " id="nav">
                    <!-- img logo -->
                    <div class="nav-brand">
                        <div class="h4">Bidding</div>
                    </div>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navmenu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- menu -->
                    <div id="navmenu" class="collapse navbar-collapse justify-content-between">
                        <ul class="navbar-nav ">
                            <li class="nav-item"><a href="index" class="nav-link" active>home</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="category" id="navbarDropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">
                                    collections
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">phone</a>
                                    <a class="dropdown-item" href="#">laptop</a>
                                    <a class="dropdown-item" href="#">desktop</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">other</a>
                                </div>
                            </li>
                            <li class="nav-item"><a href="" class="nav-link">features</a></li>
                            <li class="nav-item"><a href="" class="nav-link">contact</a></li>
                            <li class="nav-item"><a href="" class="nav-link">about</a></li>
                        </ul>
                        <div class="last">
                            <span class="account">
                                <img src="images/account.jpg" alt="">
                                <a href="signin" class="signiu">account</a>
                            </span>
                            <button type="button" class="btn cart">
                                <span class="badge badge-light">0</span>
                                <img src="images/cart.jpg" alt="">
                            </button>
                        </div>
                    </div>
                </nav>
            </div>

        </div>

</header>